@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	min-width:47em;
	background-color:#efefef;
	/*font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-family:'Molengo', Sans-Serif;
	
}

hr
{
    border:1px solid #ccc;
    width:80%;
}

h1
{
    border-bottom: 1px solid;
}

img.picture 
{
    border:1px solid #ccc;
}

/*
Header
*/
#header {
	margin:0;
	padding:0;
	font-family:'Molengo', Sans-Serif;
	/*font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	background:url(images/new1.png) no-repeat;
	background-position:50px 25px;
	background-color:#000;
	color:#fff;
	}
#header h1 {
	margin:0;
	margin-left:3em;
	padding-top:1em;
	}
#header address{
	display:inline-block;
	padding:1em;
	float:right;
	clear:left;;
	}
#header #navbar 
{
    width:100%;
	margin:0;
	clear:both;
	font-size:1.8em;
	background:url(images/navbar.png);
	border-bottom:1px solid #666;
	}
#header #navbar ul {
	margin:0;
	clear:both;
}
#header #navbar li{
	/*margin-left:.5em;*/
	padding-left:1em;
	display:inline-block;
	color:#fff;
}
#header #navbar a {
	text-decoration:none;
	color:#fff;
}
#header #navbar a:hover {
	color:#000;
}
#fb-root
{
    /*border:2px solid #222;*/
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; /* includes Opera 10.5+ */
    background-color:#222;
}

/*main*/
#main {
	padding:1em;
	border-top:1px solid #ccc;
}

/*
Menus
*/
#menuList
{
    margin:0;
    background:url(images/menuListbg.png) repeat-x;
    background-position:bottom;
    list-style-type:none;
    font-size:1.2em;
}
#menuList li 
{
    background-color:#ddd;
    margin:0;
    padding:.5em 1em;
    display:inline-block;
    border: 1px solid #ccc;
    
}
#menuList .selected
{
    border-bottom: 1px solid #efefef;
    background-color:#efefef;
    font-weight:bold;
}
#menuList li a
{
    margin:0;
    padding:0;
    display:block;
    color:#333;
    text-decoration:none;
}

#main #menus{
	float:left;
	clear:left;
	/*border:1px dashed #00F;*/
	}
#main #menus hr{
	border-top:1px dotted;}
#main .menuitem {
	display:inline-block;
	/*border:1px solid #F0C;*/
	/*clear:left;*/
}
#main .menuitem:hover {
	background-color:#fff;
}
#main .menuitem img{
	float:left;
}
#main .menuitem div{
	padding:1em;
	float:left;
	max-width:10em;
}

#main .menuitem .price
{
    font-weight:bold;
}

/*Fancy banner start here*/
#mainPageContainer
{
    margin:0 auto;
    width:70em;
}
#ajaxBanner
{
    float:left;
    width:768px;
}
.scrollpage
{
    height:512px;
}
.scrollpage h1{ text-align:left;}

.scrollpage img{ float:right;}

.scrollpage p
{
    width:15em;
}
.caption
{
    padding:0 1em;
    height:512px;
    color:#fff;
    background:#000;
    display:block;
    opacity:0.7;
    filter:alpha(opacity=70);
    float:left;
}

#announcements 
{
    padding-left:.5em;
    float:left;
    max-width:21em;
}
.announcement 
{
    margin:.5em;
    padding:1em;
    background:#fff;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px; /* includes Opera 10.5+ */

  -moz-box-shadow: 5px 5px 5px #000;
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 5px 5px 5px #000;
}
.alt 
{
    background:#f6f6f6;
}
.announcement .date 
{
    text-align:center;
    display:inline-block;
    font-size:22px;
    background: #fff;
  -moz-border-radius: 2px 0;
  -khtml-border-radius: 2px 0;
  border-radius: 2px 0; /* includes Opera 10.5+ */

  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
}
.announcement .month
{
    text-align:center;
    margin:0;
    color:#fff;
    font-size:16px;
    background:#ff0000;
    text-transform:uppercase;
}
.announcement .day 
{
    padding:.25em;
}

.announcement .head
{
    border-bottom:1px dotted #ccc;
}
.announcement .post
{
    display:inline-block;
}
/*end fancy banner*/

#makeReservation 
{
    margin:0 auto;
    padding:1em;
    max-width:70em;
}

/*
Order
*/
#main #order
{
    
	margin:1em;
	padding:1em;
	background: #fff;
	border:2px solid #333;
	
	-moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; /* includes Opera 10.5+ */
    
	-moz-box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}
#main #order.menu 
{
    position:fixed;
    right:0;
	float:right;
	clear:left;
}
#main #order.checkout
{
    //
}
#main #order select
{
    border:0;
    font-size:1.1em;
    width:100%;
}
#main #placedOrder
{
	margin:1em;
	padding:1em;
	background: #fff;
	list-style-type:none;
	
	-moz-box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}

#getCustomerInfo label
{
    padding:.2em;
    display:inline-block;
    text-align:right;
    width:7em;
    vertical-align:top;
}

/*Footer*/
#footer {
	float:none;
	clear:both;
	font-size:.8em;
	color:#666;
	border-top:#CCC 1px solid;
}

.validator 
{
    font-weight:bold;
    color:Red;
}